@import '~vant/lib/style/var';

/**
=====================================
variables
=====================================
 */

// ext colors
@primary-color: @green;
@warning-color: @orange;
@success-color: @green;
@danger-color: @red;
@info-color: @blue;

// gutter
@design-gutter: 4px;
@design-gutter_large: 8px;
